div#outer-box {
      margin: auto;
      padding: 0;
      border-width: 0;
      overflow-x: scroll;
      overflow-y: scroll;
      position: relative;
      box-sizing: border-box;
      width: 90vw;
      height: 70vh;
      border: 3px solid #73AD21;
}
div.general-boxes {
      border: 3px solid #7E7E7E;
      position: absolute;
      box-sizing: border-box;
      align-content: center;
      padding-left: 15px;
      border-radius: 10px;
}
  